/*
 * This is is imported by virtue of "sass.var" in "app.json".
 */

$enable-font-awesome: dynamic(true);
$base-color: darken(#0099ffb2, 30%);
$background-color: darken(rgb(255,255,255),10%);
$font-family: fantasy(Jazz LET);
$checkboxfield-checkbox-color:lighten(blue, 30%);